html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display:flex;
  justify-content: flex-start;
  margin-left: 1.5rem;
  font-size: 2rem;;
}
header .logo img {
  height: 3rem;
  width:auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
header .logo h4 {
  font-family: "Ubuntu",sans-serif;
  font-weight: 700;
  color: #808080;
  margin-top: 1rem;
}
header .logo p {
  font-family: "Ubuntu",sans-serif;
  font-weight: 300;
  color: #808080;
  margin-top: 1rem;
}
header .mobile {
  display:none;
}
header nav {
  margin-right: 1.5rem;
}
header nav ul li {
  color: #4d4d4d;
  display: inline;
  padding-left: 1rem;
  font-size: 1rem;
}
nav a {
  color: #4d4d4d;
  text-decoration: none;
}
.banner {
  background-color: #cccccc;
  display:flex;
  justify-content: flex-start;
  height: 38rem;
}
.banner .mainImage {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem;
}
.banner .mainImage .imageContainer img {
  width: 100%;
}
.banner .information {
  border: none;
  margin-left: 0.5rem;
  padding-top: 10rem;
}
.banner .information .titles h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4d4d4d;
  padding-bottom: 1.5rem;
  margin-right: 8rem;
  line-height: 1.2;
}
.banner .information .titles h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #4d4d4d;
  padding-bottom: 1.5rem;
  margin-right: 8rem;
}
.banner .information .titles .button {
  background-color: #404040;
  text-align: center;
  color: #ffffff;
  height: 2.25rem;
  margin-right: 12rem;
}
.banner .information .titles .button a {
  text-decoration: none;
  color: #ffffff;
}
.banner .information .titles .button p {
  padding-top: 0.5rem;
  color: #ffffff;
}
.highlights {
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
}
.highlights .practice {
  display: flex;
  flex-direction: column;
  color: #4d4d4d;
  width: 60%;
  margin: 2rem 1.5rem;
}
.highlights .practice .imageContainer img {
  width: 100%;
}
.highlights .practice .textContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.highlights .practice h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
h6{
  font-weight: 300;
  line-height: 1.4;
  width: 75%;
  padding-bottom: 2rem;
  color: #4d4d4d;
}
.highlights .practice p {
  font-size: 0.8rem;
}
.information {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-left: #cccccc solid 1px;
  width: 40%;
  height: 40rem;
}
.information .content {
  display: flex;
  border-bottom: #cccccc solid 4px;
  padding-left: 1rem;
}
.information .content .image {
  display: flex;
  max-width: 35%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.information .content .image img {
  object-fit: contain;
  overflow: hidden;
}
.information .content .text {
  display:flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.information .content .text h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.information .content .text p {
  font-weight: 300;
  color: #4d4d4d;
  padding-bottom: 1rem;
  padding-right: 3.5rem;
  line-height: 1.2;
}
.information .content .text a {
  text-decoration: none;
}
#guest {
  background-color: #cccccc;
}
.courses {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.courses .mobile {
  display: none;
}
.courses h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #595959;
}
.courses .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.courses .container .tile {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 30%;
  background-color: #ffffff;
}
.courses .container .tile .imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.courses .container .tile .imageContainer img {
  object-fit: contain;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.courses .container .tile .textContainer {
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #595959;
}
.courses .container .tile .textContainer h3 {
  padding-left: 1rem;
}
.courses .container .tile .textContainer h4 {
  font-weight: 300;
  padding-left: 1rem;
  margin-bottom: 1rem;
  color: #4d4d4d;
  line-height: 1.2;
}
.courses .container .tile .textContainer p {
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 2.5rem;
  color: #4d4d4d;
  line-height: 1.2;
}
.exhibit {
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
}
.exhibitTitle h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f2f2f2;
  color: #595959;
}
.exhibit .thesis {
    display: flex;
    flex-direction: column;
    color: #4d4d4d;
    width: 60%;
    margin: 2rem 1.5rem;
  }
.exhibit .thesis .textContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}
.exhibit .thesis .videoContainer video {
  width: 100%;
}
.exhibit .information {
  border: none;
  height: 20rem;
  margin-left: 0;
}
.exhibit .information .content {
  padding-left: 0;
  border: none;
}
.exhibit .information .content .text {
  padding-left: 0;
}
.exhibit .information .textContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#fisma {
  background-color: #cccccc;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-left: 2px;
  margin-right: 2px;
  border-top: #cccccc solid 1px;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
footer .copyright p {
  color: #4d4d4d;
  padding-left: 1.5rem;
  font-size: 0.75rem;
}
footer ul li {
  color: #4d4d4d;
  display: inline;
  padding-right: 1.5rem;
  font-size: 0.75rem;
}

@media only screen and (max-width: 480px) {
  header .logo {
    display: none;
  }
  header nav {
    display: none;
  }
  header {
    justify-content: space-around;
  }
  header .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 38rem;
  }
  .banner .mainImage {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
  .banner .information {
    display: flex;
    border: none;
    margin-left: 1.5rem;
    width: 100%;
  }
  .banner .information .titles h1 {
    font-size: 2rem;
    margin-right: 3rem;
    padding-top: 2rem;
  }
  .banner .information .titles h2 {
    margin-right: 3rem;
  }
  .banner .information .titles .button {
    background-color: #8c8c8c;
    margin-right: 5rem;
  }
  .highlights {
    display: flex;
  }
  .highlights .practice {
    display: none;
  }
  .highlights .information {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: none;
    width: 100%;
    height: 72rem;
  }
  .highlights .information .content {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    padding-left: none;
  }
  .highlights .information .content .image {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    max-width: 100%;
    margin: 1rem 1rem;
  }
  .highlights .information .content .image img {
    object-fit: fill;
  }
  #guest {
    background-color: #f2f2f2;
  }
  .highlights .information .content .text {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    padding-left: 1rem;
    max-width: 100%;
  }
  .highlights .information .content .text h3 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .highlights .information .content .text p {
    padding-bottom: 0rem;
    padding-right: 0rem;
    line-height: 1.2;
  }
  .courses {
    background-color: #f2f2f2;
    padding-left: 0;
  }
  .courses .container {
    display: none;
  }
  .courses .mobile {
    display: flex;
    flex-direction: column;
    border-top: #cccccc solid 1px;
    border-bottom: #cccccc solid 1px;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
  .courses .mobile .button {
    background-color: #cccccc;
    padding: 1rem 1rem;
    margin-bottom: 0.5rem;
  }
  .exhibit .thesis {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }
  .exhibit .thesis .textContainer {
    display: none;
  }
  .exhibit .information {
    display: none;
  }
  .exhibitTitle {
    margin: 0;
  }
  .exhibitTitle h2 {
    padding-bottom: 1rem;
  }
  footer {
    border: none;
    background-color: #f2f2f2;
    padding-bottom: 1rem;
  }
  footer ul li {
    display: none;
  }
}
